@media (max-width:767px) {
    .vignette > div {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        cursor: pointer;
        height: 75px;
        border: solid 1px #3380ff;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .vignette > div {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        cursor: pointer;
        height: 125px;
        border: solid 1px #3380ff;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .vignette > div {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        cursor: pointer;
        height: 150px;
        border: solid 1px #3380ff;
    }
}

@media (min-width:1200px) {
    .vignette > div {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        cursor: pointer;
        height: 175px;
        border: solid 1px #3380ff;
    }
}

.fond-gris {
    background-image: url('/bundles/buvette/images/fond_gris.png');
}

.fond-gris h1 {
    text-align: center;
    color: #3380ff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.nav-color {
    background-image: none;
    background-color: #808080;
}

#lien-buvette > a, #lien-cuisine > a, #lien-tarif > a, #lien-gestionproduit > a, #lien-logout > a, #lien-login > a, #heure, #lien-gestioncaisse > a, #lien-setting > a {
    color: white;
    font-size: 20px;
}

#lien-buvette > a:hover, #lien-cuisine > a:hover, #lien-tarif > a:hover, #lien-gestionproduit > a:hover, #lien-logout > a:hover, #lien-login > a:hover, #lien-gestioncaisse > a:hover, #lien-setting > a:hover {
    color: white;
    font-size: 24px;
}

#lien-login, #lien-logout {
    float: right;
}

.img-logo {
    width: 200px;
}

.content {
    padding: 10px 10px 10px 10px;
    background-image: none;
    background-color: white;
    box-shadow: 0px 0px 10px #B1B1B1;
    margin-bottom: 20px;
}

.col-center {
    text-align: center;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-margin input, .input-margin select {
    margin-bottom: 20px;
}

.btn-margin {
    margin-bottom: 20px;
    margin-top: 10px;
}

.composant {
    margin-top: 20px;
}

.delete {
    float: right;
    margin-top: 7px;
}

.btn-table {
    float: right;
}

.btn-table-left {
    margin-right: 10px;
}

.block-alert h2 {
    text-align: center;
    color: #3380ff;
    font-size: 25px;
}

.border-alerte {
    margin-bottom: 10px;
    border: solid 1px;
    text-align: center;
}

.success {
    background-color: #5fea5f;
    border-color: #2cb32c;
    color: rgb(0, 102, 0);
}

.warning {
    background-color: #ffc660;
    border-color: #ffa400;
    color: #7D5000;
}

.danger {
    background-color: #ff7c7c;
    border-color: #ff1b1b;
    color: rgb(171, 3, 0);
}

.border-alerte button {
    margin-bottom: 5px;
}

.vignette {
    text-decoration: none;
    background-color: grey;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000
}

.vignette:hover {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.padding-top-7 {
    padding: 7px 0px 0px 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.not-display {
    display: none;
}

.margin-left-20 {
    margin-left: 20px;
}