<div class="modal fade" id="modalValidation" tabindex="-1" role="dialog" aria-labelledby="labelValidation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modal_validation_body" class="modal-body">
                <div class="row">
                    <div id="modal_resultat_validation" class="col-xs-12 col-center"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3 margin-top-20">
                        <div class="row">
                            <button type="button" class="btn btn-default col-xs-12" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>