{% extends "base.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Connexion</h1>
        </div>
        {% if error %}
            <div class="alert alert-danger">Login ou mot de passe incorrect</div>
        {% endif %}
        <div class="row content">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 input-margin">
                <form action="{{ path('login_check') }}" method="post">
                    <div class="row">
                        <label class="col-xs-12" for="username">Login :</label>
                        <input class="col-xs-12 form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="row">
                        <label class="col-xs-12" for="password">Mot de passe :</label>
                        <input class="col-xs-12 form-control" type="password" id="password" name="_password" />
                    </div>
                    <div class="row col-center">
                        <input type="submit" class="btn btn-default" value="Connexion" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}