{% extends "base.html.twig" %}
{% block title %}Billetterie{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row btn-margin">
                <h1>Billetterie</h1>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}