<div class="block-alert content col-xs-12">
    <div class="col-xs-12"><h2>Commandes pizzas</h2></div>
    <div class="col-xs-12"><p>Temps d'attente estimé à : <span id="alerte-commande-attente"></span>m</p></div>
    <div id="ajax-refresh-commande" data-ajax="{{ path('alerte_commandes', {'type' : 2}) }}"></div>
    <div id="ajax-upgrade-commande" data-ajax="{{ path('cuisine_upgrade_commande') }}"></div>
    <div id="listeCommandes"></div>
</div>