<div class="block-alert content col-xs-12">
    <div id="ajax-alerte-stocks" data-ajax="{{ path('alerte_stock') }}"></div>
    <div class="col-xs-12"><h2>Alertes stock</h2></div>
    <div id="alertesStockDanger"></div>
    <div id="alertesStockWarning"></div>
</div>