<div class="block-alert content col-xs-12">
    <div class="col-xs-12"><h2>Commandes pizzas</h2></div>
    <div class="col-xs-12"><p>Temps d'attente estimé à : <span id="attente">20m</span></p></div>
    <div class="col-xs-12 border-alerte success">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><button class="col-xs-6 col-xs-offset-3 btn btn-success">Retrait</button></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte success">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><button class="col-xs-6 col-xs-offset-3 btn btn-success">Retrait</button></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte danger">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte danger">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte danger">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte danger">
        <div class="row">
            <div class="col-xs-6"><p>pizza 4 formage</p></div>
            <div class="col-xs-6"><p>Ref 12515</p></div>
        </div>
    </div>
</div>