<div class="block-alert content col-xs-12">
    <div class="col-xs-12"><h2>Alerte stock</h2></div>
    <div class="col-xs-12 border-alerte danger">
        <div class="row">
            <div class="col-xs-12"><p>produit : pizza 4 formage</p></div>
            <div class="col-xs-12"><p>seuil : 3</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte danger">
        <div class="row">
            <div class="col-xs-12"><p>produit : sandwitch</p></div>
            <div class="col-xs-12"><p>seuil : 2</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-12"><p>produit : m&m</p></div>
            <div class="col-xs-12"><p>seuil : 0</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-12"><p>produit : coca</p></div>
            <div class="col-xs-12"><p>seuil : 10</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-12"><p>produit : oasis</p></div>
            <div class="col-xs-12"><p>seuil : 10</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-12"><p>produit : oasis</p></div>
            <div class="col-xs-12"><p>seuil : 10</p></div>
        </div>
    </div>
    <div class="col-xs-12 border-alerte warning">
        <div class="row">
            <div class="col-xs-12"><p>produit : oasis</p></div>
            <div class="col-xs-12"><p>seuil : 10</p></div>
        </div>
    </div>
</div>