<div class="block-alert">
    <div class="col-md-12"><h2>Commandes pizzas</h2></div>
    <div class="col-md-12 border-alerte alert-success">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
        <div class="col-md-2"><button class="btn btn-success">OK</button></div>
    </div>
    <div class="col-md-12 border-alerte alert-success">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
        <div class="col-md-2"><button class="btn btn-success">OK</button></div>
    </div>
    <div class="col-md-12 border-alerte alert-warning">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
    <div class="col-md-12 border-alerte alert-warning">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
    <div class="col-md-12 border-alerte alert-warning">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
    <div class="col-md-12 border-alerte alert-warning">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
    <div class="col-md-12 border-alerte alert-danger">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
    <div class="col-md-12 border-alerte alert-danger">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
    <div class="col-md-12 border-alerte alert-danger">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
    <div class="col-md-12 border-alerte alert-danger">
        <div class="col-md-6"><p>pizza 4 formage</p></div>
        <div class="col-md-4"><p>Ref 12515</p></div>
    </div>
</div>